body {
    padding-bottom: 20px;
}
.navbar-static-top {
    margin-bottom: 19px;
}

#messageArea
{
    position: fixed;
    bottom:0px;

    left: 50%;
    margin-left: -384px; /* Half of the width */

    width: 768px;
    border: 0px solid black;
    background-color: #00ffffff;
    z-index: 999;
}

#errorArea{

}

.amandaJSMessage{
    padding:10px;
    margin: 3px;
    border-radius: 4px;
    text-align: center;

    word-wrap: break-word;

}

.amandaJSError{
    padding:10px;
    margin: 3px;
    border-radius: 4px;

    word-wrap: break-word;
}

@media screen and (max-width: 768px) {
    #messageArea
    {
        width: 100%;
        left: 0px;
        margin-left: 0px;
    }
}

.row-help-modal{
    border: 1px solid black;
    width: 100%;
}
.td-helpContent{
    border: 1px dashed red;
}
#help-modal-close{
    display: block;
    clear: both;
}