#output {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #586B73;
    color: white;
    font-family: Roboto Mono;
    outline: none;
}
#input {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    font-family: Roboto Mono ;
    outline: none;
}
.consoleButtons {
    margin-top: 10px;
    width: 100%;
}
#amandaTabs{
    margin-top: 10px;
}